/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

 @charset "UTF-8";
 body {
	font:13px/1.231 arial,helvetica,clean,sans-serif,verdana; 
	*font-size:small; 
	*font:x-small; 
	color: #888888;
	background-color: #000000;
	margin-top: 0px;
	/*margin and padding on body element
      can introduce errors in determining
      element position and are not recommended;
      we turn them off as a foundation for YUI
      CSS treatments. */
	margin:0;
	padding:0;
	text-align:center;
 }
 

 #fileToUpload{
	border:#CCCCCC 1px solid;
	overflow-y:auto;
	overflow-x:hidden;
 }

 #uploadedFiles{
	border:#CCCC00 1px solid;
	background:#FFFFCC; 
 }

 .leftCol{
	width:500px;
	padding:5px;
	vertical-align:top;
 }

 #newAlbum {
 	clear: both;
    width: 905px;
    background-color: #F2EFE9;
 }
 
 textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
    overflow: auto;
 }

 fieldset {
	/*float: left;*/
	clear: both;
	/*width: 80%;*/
    length: 
	/*margin: 0 0 -1em 0;*/
	/*padding: 0 0 1em 0;*/
    padding: 10px;
    margin: 0 0 0 0;
	border-style: none;
	border-top: 2px solid #BFBAB0;
    border-bottom: 2px solid #BFBAB0;
	background-color: #F2EFE9;
 }

 fieldset ol {
	padding-top: 0.25em;
	list-style:none;
 }

 fieldset li {
	padding-bottom: 1em;
	list-style:none;
 }
 
 #adminGallery{
	width: 905px;
	background-color:#F2EFE9;
	border-bottom: 2px solid #BFBAB0;
	padding-top: 40px;
}

.uploadBtn{
    border:1px solid #333333;
    background:url(images/buttonEnabled.png) #d0d0d0 repeat-x scroll 0px top;
    font-size:14px;
    width:201px;
    height:30px;
    vertical-align:middle; /* emulates a <button> if node is not */
    text-align:center;
}
.uploadHover{
    background-image:url(images/buttonHover.png);
    cursor:pointer;
    font-weight:bold;
}
.uploadPress{
    background-image:url(images/buttonActive.png);
}
.uploadDisabled{
    background-image:none;
    background-color:#666;
    color:#999;
    border:1px solid #999;
}

#progressDiv,#progressBar {
    font-family:helvetica,arial,sans-serif;
    font-size:90%;
    z-index: 1000;
}
